header{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5vh 0;
    z-index: 500;
    background-color: white;
    @media only screen and (min-width:1200px){
        position: sticky;
        top: 0;
    }
}
header h1{
    text-align: center;
}
header a{
    text-decoration: none;
    color: #7952b3;
    font-size: 1.5em;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}
header a:hover{
    color: #9678c4;
}