.sidebar{
    height: 100vh;
    background-color: #7952b3;
    color: white;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding-top: 5vh;
    width: 5%;
    overflow: hidden;
}
.logoLink{
    color: white;
    font-size: 2vw;
    display: block;
    text-align: center;
}
.logoLink:hover{
    color: white;
    text-decoration: none;
}
.navlinks{
    margin-top: 5vh;
    padding: 0;
}
.navlinks a{
    color: white;
    margin-top: 2vh;
    display: block;
    text-align: center;
    font-size: 1.6em;
    padding: 2vh 0vw;
}
.navlinks a:hover{
    color: #7952b3;
    background-color: white;
}

