form{
    border: 5px solid #7952b3;
    width: 95%;
    padding: 5vh 5vw;
    text-align: left;
    @media only screen and (max-width:1199px) {
        width: 100%;
    }
}
.signin{
    background-color: #7952b3;
    border-color: #7952b3;
}
.signin:hover{
    background-color: #9678c4;
    border-color: #9678c4;
}
.main{
    padding: 5vh 30vw;
    padding-left: 35vw;
    @media only screen and (max-width:1199px) {
        padding: 7vh 2vw;
    }
}
form label{
    color: #7952b3;
    font-weight:700;
    font-size: 1.2em;
}