.loginHeaderLinks{
    text-decoration: none;
    padding: 2vh 5vw;
    border-radius:10px;
    margin-top: 2vh;
    display: inline-block;
    border:2px solid #7952b3;
    color: #7952b3;
    background-color: white;
    @media screen and (max-width:1199px) {
        padding: 2vh 11vw;
        margin-top: 5vh;
        margin-bottom: -10vh;
    }
}
.loginHeaderLinks:hover{
    color: white;
    background-color: #7952b3;
}
.loginHeaderLinks:active{
    color: white;
    background-color: #7952b3;
}
.active{
    color: white;
    background-color: #7952b3;
}